<%= items.each do |item| %>
  <div class="item">
    <h1 class="<%= item.class_names %>"><%= item.title %></h1>

    <div class="item-content">
      <%= item.content %>
    </div>
  </div>
<% end %>
